


 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: "cascadia-webfont";
    src: url("/fonts/cascadia-webfont.woff") format('woff'), url("/fonts/cascadia-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
div {
    margin-bottom: 50px;
}


* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient( 90deg, rgba(13, 8, 96, 1) 0%, rgba(9, 9, 121, 1) 21%, rgba(6, 84, 170, 1) 51%, rgba(0, 255, 113, 1) 100% );
}

#content-wrap {
    padding-bottom: 120px;
    padding-top: 35px;
}

html, body {
    background-color: white;
    /*background: linear-gradient(to bottom, rgb(181,181,181), white 12%);*/
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav li {
    padding: 0 3%;
}

.nav a:hover {
    background-color: rgba(255,255,255,.3);
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.main-header {
    margin: 0;
    background-color: black;
    /*background-image: url("../images/IMG_3063.jpg");*/
    background-size: cover;
    background-blend-mode: multiply;
    z-index: 1;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px -4px 4px 2px rgb(50,50,50);
}
.images {
    float: left;
    display: inline !important;
}

.images2 {
    float: right;
    display: inline !important;
}

.images3 {
}


.name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Lato;
    font-weight: normal;
    color: lightgray;
}

.content-section {
    margin: 1em;
    font-size: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    position: relative;
}

.section-header {
    font-family: Arial;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    padding-top: 75px;
}

.about-me-image {
    float: left;
    margin: 15px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.main-footer {
    background-color: black;
    color: lightgray;
    padding: .25em 0;
    font-size: .5em;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 4px 2px rgb(50,50,50);
}

.main-footer-container {
    align-items: center;
}

    .main-footer-container ul {
        flex-grow: 1;
        text-align: center;
    }

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
}

hr.divider {
    height: 3px;
    background-color: rgb(50,50,50);
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 13em;
    margin-right: 13em;
    border: none;
}

hr {
    color: rgb(50,50,50);
    background: rgb(50,50,50);
}

#slider {
    display: block;
    overflow: hidden;
    width: 330px;
    float: right;
    margin-right: 20px;
    position: relative;
    border: 4px solid black;
    border-color: black;
    border-radius: 10px;
    background: black;
}

#slider2 {
    display: block;
    overflow: hidden;
    width: 450px;
    margin-right: 20px;
    position: relative;
    border: 4px solid black;
    border-color: black;
    border-radius: 10px;
    background: black;
}

#slider3 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-right: 20px;
    position: relative;
    border: 4px solid black;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 3vh;
    background: black;
}

#slider4 {
    display: block;
    overflow: hidden;
    width: 450px;
    margin-right: 20px;
    position: relative;
    border: 4px solid black;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 3vh;
    background: black;
}

    #slider figure, #slider2 figure, #slider3 figure, #slider4 figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
    }

#slider .fivePic, #slider2 .fivePic {
    animation: 40s slider ease infinite;
}

#slider .fourPic, #slider2 .fourPic, #slider3 .fourPic {
    animation: 40s sliderTwo ease infinite;
}

#slider3 .twoPic {
    animation: 10s sliderThree ease infinite;
}

#slider4 .twoPic {
    animation: 8s sliderThree ease infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider2 figure img {
    width: 20%;
    float: left;
}

#slider3 figure img {
    width: 20%;
    float: left;
}

#slider4 figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }

    8.33% {
        left: 0;
    }

    12.49% {
        left: -100%;
    }

    20.82% {
        left: -100%;
    }

    25% {
        left: -200%;
    }

    33.33% {
        left: -200%;
    }

    37.49% {
        left: -300%;
    }

    45.82% {
        left: -300%;
    }

    50% {
        left: -400%;
    }

    58.33% {
        left: -400%;
    }

    62.49% {
        left: -300%;
    }

    70.82% {
        left: -300%;
    }

    75% {
        left: -200%;
    }

    83.31% {
        left: -200%;
    }

    87.47% {
        left: -100%;
    }

    95.8% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes sliderTwo {
    0% {
        left: 0;
    }

    11.11% {
        left: 0;
    }

    16.66% {
        left: -100%;
    }

    27.77% {
        left: -100%;
    }

    33.27% {
        left: -200%;
    }

    44.38% {
        left: -200%;
    }

    50% {
        left: -300%;
    }

    61.11% {
        left: -300%;
    }

    66.66% {
        left: -200%;
    }

    77.77% {
        left: -200%;
    }

    83.32% {
        left: -100%;
    }

    94.43% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes sliderThree {
    0% {
        left: 0;
    }

    33.33% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    83.33% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}