
body {
    background: linear-gradient(to right top, rgb(211,211,211), white 70%);
    background-attachment: fixed; /*edit*/
}

h1 {
    color: red;
}
div.title {
    font-family: 'jetbrains_monoregular';
    text-align: center;
    margin: auto;
    margin-top: 7vw;
    padding: 1em;
    min-height: 75%;
}
.List1 {
    background-color: black;
    color: white;
}
