

html, body{

    margin:0;
    padding:0;
}

.main-header{
    background-color: rgba(0,0,0,.6);
    background-image: url("../images/IMG_3063.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}