
body {
    background: linear-gradient(to right top, rgb(211,211,211), white 70%);
    background-attachment: fixed; /*edit*/
}

h1 {
    color: blue;
}

.List1 {
    background-color: black;
    color: white;
}
